<h2> This is a Header </h2>
<% if (user !== undefined) { %>
  <%= `Logged in as ${user.id}` %>
  <form method="POST" action = "/logout" >
    <button type="submit" value="Submit"> Logout </button>
  </form>
<% } else { %>
  <form method="GET" action = "/login" >
    <button type="submit" action="Submit"> Login </button>
  </form>
<% } %>
<h3> Do not have an account? Register <a href = "http://localhost:8080/register"> here</a>. </h3>
