<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
      <h3> <%= urls[shortURL] %> </h3>
          <form method="POST" action = <%= `/urls/${shortURL}` %>>
            <label for="longURL">Enter a URL:</label>
            <input id="longURL" type="text" name="longURL" placeholder= <%= urls[shortURL] %> style="width: 300px">
            <input type="submit" value="Submit">
          </form>
      <a href="http://localhost:8080/newShortUrl"> Add new url here </a>
    </body>
</html>


<!--     <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form> -->