<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
     <ul>
        <% for (var url in urls) { %>
          <li> <%= url %> - <%= urls[url] %>
            <form method="POST" action = <%= `/urls/${url}/delete` %>>
              <a href = <%= `http://localhost:8080/urls/${url}` %>> Edit </a>
              <button type = "submit" value = "Submit"> Delete </button>
            </form>
          </li>
        <% }; %>
     </ul>
  </body>
</html>