<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
     <ul>
        <% for (var url in urls) { %>
          <li>
            <form method="POST" action = <%= `/urls/${url}?_method=DELETE` %>>
              <%= url %> - <%= urls[url].url %>
              <a href = <%= `http://localhost:8080/urls/${url}` %>>Edit</a>
              <button type = "submit" value = "Submit"> Delete </button>
            </form>
          </li>
        <% }; %>
     </ul>
    <br>
    <a href="http://localhost:8080/urls/new"> Add new URL here </a>
  </body>
</html>