<!DOCTYPE html>
<html>
<head></head>
<body style="font-size:20px; padding:50px";>
  <!-- <% include partials/_header %> -->
  <h2> User Login </h2>
  <form method="POST" action = "/login" >
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" placeholder="johndoe@example.com" style="width: 300px">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="password" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
</body>
</html>