<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
      <h3> <%= `Update ${urls[shortURL].url}` %> </h3>
        <form method="POST" action = <%= `/urls/${shortURL}?_method=PUT` %>>
          <label for="longURL">Updated URL:</label>
          <input id="longURL" type="text" name="longURL" style="width: 300px">
          <input type="submit" value="Submit">
        </form>
      <br>
      <a href="http://localhost:8080/urls/new"> Add new URL here </a>
    </body>
</html>